  
body, html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.imagen__contenedor{
  margin-top: 3rem;
  margin-bottom: 3rem; 
  display: flex;
  justify-content:center;
}

.app{
  min-height: 86vh;
}

.footer{
  height: auto;
  padding:6px !important;
  display: flex;
  justify-content:center;
}

